*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(5, 5, 48);
    
    color:white;

}
.register1{
    margin-left: 50px;
}
p{
    margin-left: 50px;
}

#form {
    border: 2px solid white;
    width: 400px;
    margin-left: auto;
    border-radius: 12px;
}
.registera {
    padding: 10px;
    margin-left:5px ;
   
}

input {
    padding: 0.5rem 10.5rem 0.5rem 0.5rem;
    border-radius: 10px;
}
select {
    padding: 0.5rem 13.7rem 0.5rem 0.5rem;
    border-radius: 10px;
}